
# tmp <- make
fjev_part.py

# local
INFO

hu___trv_mk17099_2017xc.txt

out.old
out.1line1w
err

*MAXITEMS4
*unlimited
out_config_*

letter*

ma-answers.INFO

splitted

# older versions
fjev_nemteljesenosszevont.py
fjev_magyarkommentek.py

