
# tmp <- make
fjev_part.py

# local
INFO

hu___trv_mk17099_2017xc.txt

a
b
out.old
out.1line1w
err

*MAXITEMS4
*unlimited

letter*

# older versions
fjev_nemteljesenosszevont.py
fjev_magyarkommentek.py

